@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Define custom properties at the base layer */
    :root {
        --background: theme(colors.white);
        --foreground: theme(colors.neutral.900);
        --grid-color: rgba(0, 0, 0, 0.1); /* Increased opacity to 20% */
    }

    /* Dark mode custom properties */
    :root[data-theme="dark"] {
        --background: #242423;
        --foreground: theme(colors.gray.100);
        --grid-color: rgba(255, 255, 255, 0.04); /* Increased opacity to 15% */
    }

    /* Base styles */
    body {
        @apply min-h-screen overflow-x-hidden font-sans text-[var(--foreground)] bg-[var(--background)];
        background-image: linear-gradient(var(--grid-color) 1px, transparent 1px),
            linear-gradient(to right, var(--grid-color) 1px, var(--background) 1px);
        background-size: 50px 50px;
    }

    /* Selection styles */
    ::selection {
        @apply bg-amber-300 text-black;
    }
}

@layer components {
    .text-container {
        @apply bg-[var(--background)] relative z-10;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
