@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --grid-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #070a0d;
        --foreground: #ededed;
        --grid-color: rgba(255, 255, 255, 0.05);
    }
    p,
    h {
        color: #e7edf2d;
    }
}

::selection {
    color: black;
    background-color: #fcd34d;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(var(--grid-color) 1px, transparent 1px),
        linear-gradient(to right, var(--grid-color) 1px, var(--background) 1px);
    background-size: 50px 50px;
}

p {
    font-family: "Geist";
}

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

/* Add this new utility class */
.text-container {
    background-color: var(--background);
    position: relative;
    z-index: 1;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
